@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background: grey;
}

body {
  background-position:center center;
  background-attachment:fixed;
  background-repeat:repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

#background {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

#mobile-header {
  position: relative;
  background: rgba(36, 35, 33, .44)!important;
  padding: 15px;
}

/* On the desktops, #sidebar.active mean that the sidebar is partially collapsed (compressed version) and #sidebar only that it's visible.
On mobiles, #sidebar.active mean the sidebar is visible and #sidebar only that's partially collapsed (compressed version). */
#sidebar {
  text-align: center;
  background-color: rgba(36,35,33,.4);
  position: fixed;
  top: 0;
  left: 0;
  max-width: 275px;
  width: 100%;
  min-height: 100vh;
  padding: 35px 20px;
  color: #fafafa;
}

#sidebar .sidebar-header-logo img {
  height: 100px;
  width: 150px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}

#sidebar ul.menu-items {
    padding: 20px 0;
}

#sidebar .list-unstyled li a {
    padding: 20px 0;
    font-size: 1.1em;
    display: block;
    border-bottom: 1px solid grey;
    margin: 0 30px 0 30px;
}

#sidebar ul li a:hover {
    color: grey;
    background: #fafafa;
    border-bottom: 1px solid grey;
}

.uppercase {
  text-transform: uppercase;
}

.unslider-nav {
  display: none;
}

#mobile-header {
  display: none;
}

#mobile-header .navbar-brand img {
  height: 70px;
  width: 120px;
}

#sidebar-header {
  margin-top: 20px;
}

#components {
  margin-top: 80px;
}

#social-links {
  margin-top: 80px;
}
/*------------------------------------------ Media queries -------------------------------- */

@media (max-width: 768px) {

    #mobile-header {
      display: flex;
    }

    #sidebar {
      display: none;
    }

}
