@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background: grey;
}

body {
  background-position:center;
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

/* ---------------------------------------------- Common --------------------------------*/
.uppercase {
  text-transform: uppercase;
}

.inline {
  display: inline;
}

/* --------------------------------------------- Home page --------------------------------- */

/* Background / unslider */
#background {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.unslider-nav {
  display: none;
}

/* Sidebar */
/* logo size => ratio 1.5 */
#sidebar {
  text-align: center;
  background-color: rgba(36,35,33,.4);
  position: fixed;
  top: 0;
  left: 0;
  max-width: 300px;
  width: 100%;
  min-height: 100vh;
  padding: 35px 20px;
  color: #fafafa;
}

#sidebar-header {
  margin-top: 20px;
}

#sidebar .sidebar-header-logo img {
  height: 168px;
  width: 260px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}

#sidebar ul.menu-items {
    padding: 20px 0;
}

#sidebar .list-unstyled li a {
    padding: 20px 0;
    font-size: 1.1em;
    display: block;
    border-bottom: 1px solid grey;
    margin: 0 30px 0 30px;
}

#sidebar ul li a:hover {
    color: #000000;
    background: #fafafaa8;
    border-bottom: 1px solid grey;
}

#sidebar-components {
  margin-top: 80px;
}

#sidebar-social-links {
  margin-top: 80px;
}

#home-content {
  position: relative;
  margin: 100vh 35px 135px 380px;
  color: #fafafa;
  background: rgba(36, 35, 33, .7);
  padding: 35px;
}

/*------------------------------------------ Navbar - for mobile and tablet devices -------------------------------- */

/* navbar */
#navbar {
  position: relative;
  background: rgba(36, 35, 33, .44)!important;
  padding: 15px;
}

#navbar {
  display: none;
}

#navbar .navbar-brand img {
  height: 70px;
  width: 120px;
}

/* navbar-social-links */
#navbar-social-links {
  color: #fafafa;
}

#collapsibleNavbar {
  text-align: center;
  min-height: 100vh;
}

#navbar-menu-items {
  margin-top: 50px;
}

#navbar-menu-items ul.navbar-nav {
    padding: 20px 0;
}

#navbar-menu-items .navbar-nav li a {
    padding: 20px 0;
    font-size: 1.1em;
    display: block;
    border-bottom: 1px solid grey;
    margin: 0 70px 0 70px;
}

#navbar-menu-items ul li a:hover {
  color: #000000;
  background: #fafafaa8;
  border-bottom: 1px solid grey;
}

/* navbar-social-links */
#navbar-social-links {
  margin-top: 80px;
}

/*------------------------------------------ Footer -------------------------------- */

#footer {
  z-index: 1000;
  color: #fafafa;
  background-color: #000000;
  text-align: center;
  padding: 10px 0 0 0;
}

/*------------------------------------------ Media queries -------------------------------- */

@media (max-width: 768px) {

    #navbar {
      display: flex;
    }

    #sidebar {
      display: none;
    }

    #navbar .navbar-brand img {
      height: 65px;
      width: 100px;
    }

    #home-content {
      display: none;
    }
}
